.side_menu{
	-fx-background-color: #95AA2E;
	-fx-border-width:2px, 2px, 2px, 2px;
	-fx-border-radius: 200px;
	-fx-background-radius:200px;
	-fx-border-style:solid;
	-fx-border-color:#AA2E4C;
	
}
.title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-text-fill: #2C3E50;

    -fx-padding: 6px 0 10px 0;

    -fx-border-color: transparent transparent #62AA2E transparent;
    -fx-border-width: 0 0 3px 0;
}

.button-theme {
    -fx-background-color: #62AA2E;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #AA2E4C;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}
.sexy-button {
    -fx-background-color: linear-gradient(to right, #62AA2E, #7ED957);
    -fx-text-fill: white;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-padding: 10px 24px;

    -fx-background-radius: 200px;
    -fx-border-radius: 200px;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0, 0, 0, 0.15);

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 4);

    -fx-cursor: hand;
}
